In [2]:
import pandas as pd
bikes = pd.read_csv(r'bikes.csv')
bikes.head(3)

,trip_id,gender,starttime,stoptime,tripduration,from_station_name,dpcapacity_start,to_station_name,dpcapacity_end,temperature,visibility,wind_speed,precipitation,events
0,7147,Male,2013-06-28 19:01:00,2013-06-28 19:17:00,993,Lake Shore Dr & Monroe St,11.0,Michigan Ave & Oak St,15.0,73.9,10.0,12.7,-9999.0,mostlycloudy
1,7524,Male,2013-06-28 22:53:00,2013-06-28 23:03:00,623,Clinton St & Washington Blvd,31.0,Wells St & Walton St,19.0,69.1,10.0,6.9,-9999.0,partlycloudy
2,10927,Male,2013-06-30 14:43:00,2013-06-30 15:01:00,1040,Sheffield Ave & Kingsbury St,15.0,Dearborn St & Monroe St,23.0,73.0,10.0,16.1,-9999.0,mostlycloudy

In [3]:
bikes.dtypes

trip_id                int64
gender                object
starttime             object
stoptime              object
tripduration           int64
from_station_name     object
dpcapacity_start     float64
to_station_name       object
dpcapacity_end       float64
temperature          float64
visibility           float64
wind_speed           float64
precipitation        float64
events                object
dtype: object

In [4]:
bikes = pd.read_csv(r'bikes.csv', parse_dates=['starttime', 'stoptime'])
bikes.dtypes.head()

trip_id                  int64
gender                  object
starttime       datetime64[ns]
stoptime        datetime64[ns]
tripduration             int64
dtype: object

In [5]:
#number of rows and columns
bikes.shape

(50089, 14)

In [6]:
len(bikes)

50089

In [7]:
bikes.shape[0]

50089

In [8]:
bikes.shape[1]

14

In [9]:
# number of rows times number of columns
bikes.size

701246

In [10]:
bikes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50089 entries, 0 to 50088
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   trip_id            50089 non-null  int64
 1   gender             50089 non-null  object
 2   starttime          50089 non-null  datetime64[ns]
 3   stoptime           50089 non-null  datetime64[ns]
 4   tripduration       50089 non-null  int64
 5   from_station_name  50089 non-null  object
 6   dpcapacity_start   50083 non-null  float64
 7   to_station_name    50089 non-null  object
 8   dpcapacity_end     50077 non-null  float64
 9   temperature        50089 non-null  float64
 10  visibility         50089 non-null  float64
 11  wind_speed         50089 non-null  float64
 12  precipitation      50089 non-null  float64
 13  events             50089 non-null  object
dtypes: datetime64[ns](2), float64(6), int64(2), object(4)
memory usage: 5.4+ MB